.sign-up {
    box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.25);
    width: 90%;
    margin-bottom: 5rem;
}

.sign-up fieldset {
    display: flex;
    flex-direction: column;
}

.sign-up h1 {
    text-align: center;
}

.su-error {
    color: red;
}

.sign-up :is(div, button, a) {
    margin: 0em 1em 0.5em;
    font-family: "Roboto";
    font-size: 14px;
}

.sign-up label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.inputDefault {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #373867;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.inputError {
    border: 1px solid red;
}

.submit-button {
    width: 80%;
    margin: 2em 2em;
    padding: 1em;
    align-self: center;
    background-color: #AACE9B;
    color: #373867;
    border: none;
    font-weight: bold;
}

.submit-button:hover,
.submit-button:focus {
    background-color: #373867;
    color: #AACE9B;
    cursor: pointer;
}

@media (min-width: 480px) {
    .sign-up {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .sign-up fieldset {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .sign-up fieldset > div {
        width: 40%;
    }

    .submit-button {
        width: 60%;
    }
}
