/* main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: 2em;
} */

/* .sign-up {
    min-width: 100%;
    box-shadow: 1px 1px 1px 1px grey;
    width: 90%;
  } */

/* .sign-up p {
display: inline-block;
}

.sign-up-fieldset {
    display: flex;
} */