<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix by Radium&nbsp;Rocket</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100;400;700&display=swap"rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/aside.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <a href="index.html" class="a-rr-logo">
                    <img class="rr-logo" src="../assets/logo-RR.png" alt="radium rocket logo">
                </a>
                <button type="submit"><img src="../assets/arrow.png" alt="Arrow Menu"></button>
                <ul class="topbar-logos">
                    <li>
                        <a href="" target="_blank">
                            <img src="../assets/logo-facebook-secondary.png" alt="Facebook Logo">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../assets/logo-instagram-secondary.png" alt="Instagram Logo">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../assets/logo-linkedin-secondary.png" alt="Linkedin Logo">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../assets/logo-twitter-secondary.png" alt="Twitter Logo">
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="wrapper">
            <aside>
                <div class="container">
                    <article>
                        <h2>Menu</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="sign-up.html">Sign Up</a>
                            </li>
                            <li>
                                <a href="login.html">Sign In</a>
                            </li>
                            <li>
                                <a href="">About us</a>
                            </li>
                        </ul>
                    </article>
                    <article>
                        <h2>Get in touch</h2>
                        <p>
                            Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem
                            ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
                            tempus
                            aliquam.
                        </p>
                        <address>
                            <ul>
                                <li>
                                    <a href="mailto:Contact@Trackgenix.com">&#128231;&nbsp;Contact@Trackgenix.com</a>
                                </li>
                                <li>
                                    <a href="tel:(000) 000-0000">&#128222; (000) 000-0000</a>
                                </li>
                                <li>
                                    &#127968; <span>Somewhere Road #8254
                                        Nashville, TN 00000-0000</span>
                                </li>
                            </ul>
                        </address>
                    </article>
                </div>
            </aside>
            <main>
                <form id="signIn" class="sign-in">
                    <h1>Sign In</h1>
                    <fieldset>
                        <div id="emailLogin" class="inputContainer">
                            <label for="siEmail"><img src="../assets/email-login.png" alt=""></label>
                            <input id="siEmail" class="inputDefault" type="email">
                        </div>
                        <p id="emailError" class="error-hidden">Incorrect email</p>
                        <div id="pwdLogin" class="inputContainer">
                            <label for="siPassword"><img src="../assets/password-login.png" alt=""></label>
                            <input id="siPassword" class="inputDefault" type="password">
                        </div>
                        <p id="pwdError" class="error-hidden">Incorrect password</p>
                        <div>
                            <input id="rememberMe" type="checkbox" name="remember me">
                            <label for="rememberMe">Remember me</label>
                        </div>
                        <button id="submitButton" class="submit-button" type="submit">Continue</button>
                        <a href="">Don't remember your password?</a>
                    </fieldset>
                </form>
            </main>
        </div>
        <footer>
            <div class="container">
                <ul class="container">
                    <li>
                        <a href="" target="_blank">
                            <img src="../assets/logo-facebook-primary.png" alt="Facebook Logo">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../assets/logo-instagram-primary.png" alt="Instagram Logo">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../assets/logo-linkedin-primary.png" alt="Linkedin Logo">
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <img src="../assets/logo-twitter-primary.png" alt="Twitter Logo">
                        </a>
                    </li>
                </ul>
                <address>
                    Rosario, Argentina
                </address>
                <p>Copyright &copy; Radium Rocket. All rigths reverved.</p>
            </div>
        </footer>
        </div>
    </body>
</html>