<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix by Radium&nbsp;Rocket</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100;400;700&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/aside.css">
    <link rel="stylesheet" href="../styles/landing.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header>
        <div class="container">
            <a href="index.html" class="a-rr-logo">
                <img class="rr-logo" src="../assets/logo-RR.png" alt="radium rocket logo">
            </a>
            <button><img src="../assets/arrow.png" alt="Arrow Menu"></button>
            <ul class="topbar-logos">
                <li>
                    <a href="" target="_blank">
                        <img src="../assets/logo-facebook-secondary.png" alt="Facebook Logo">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img src="../assets/logo-instagram-secondary.png" alt="Instagram Logo">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img src="../assets/logo-linkedin-secondary.png" alt="Linkedin Logo">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img src="../assets/logo-twitter-secondary.png" alt="Twitter Logo">
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <aside>
            <div class="container">
                <article>
                    <h2>Menu</h2>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="">Sign Up</a>
                        </li>
                        <li>
                            <a href="login.html">Sign In</a>
                        </li>
                        <li>
                            <a href="">About us</a>
                        </li>
                    </ul>
                </article>
                <article>
                    <h2>Get in touch</h2>
                    <p>
                        Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem
                        ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
                        tempus
                        aliquam.
                    </p>
                    <address>
                        <ul>
                            <li>
                                <a href="mailto:Contact@Trackgenix.com">&#128231;&nbsp;Contact@Trackgenix.com</a>
                            </li>
                            <li>
                                <a href="tel:(000) 000-0000">&#128222; (000) 000-0000</a>
                            </li>
                            <li>
                                &#127968; <span>Somewhere Road #8254
                                    Nashville, TN 00000-0000</span>
                            </li>
                        </ul>
                    </address>
                </article>
            </div>
        </aside>
        <main>
            <div class="container">
                <article>
                    <section>
                        <div class="trackgenix-by-RR">
                            <div class="container">
                                <h1><span>Trackgenix</span> by&nbsp;RadiumRocket</h1>
                                <h2>An easy system to track your team's time and projects</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aspernatur dolorem
                                    excepturi repellendus, consectetur dignissimos totam beatae recusandae aut iste
                                    quidem, at nemo! Esse cum in explicabo ipsam dolorum harum?
                                </p>
                                <a href="" class="tablet-learn-more">Learn More</a>
                            </div>
                            <img src="../assets/light-img-sec1.jpg" alt="Some fancy inspiring artwork">
                            <a href="" class="learn-more">Learn More</a>
                        </div>
                    </section>
                </article>
                <article class="services">
                    <h2>Services</h2>
                    <div class="container">
                        <div class="services-column">
                            <section aria-labelledby="hours-registry">
                                <img src="../assets/sv1.png" alt="A clock">
                                <div>
                                    <h3>Hours registry</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eveniet totam
                                        earum vitae
                                        aut modi distinctio, reprehenderit numquam quisquam nam!
                                    </p>
                                </div>
                            </section>
                            <section aria-labelledby="reports">
                                <img src="../assets/sv2.png" alt="A drop box">
                                <div>
                                    <h3>Reports</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eveniet totam
                                        earum vitae
                                        aut modi distinctio, reprehenderit numquam quisquam nam!
                                    </p>
                                </div>
                            </section>
                        </div>
                        <div class="services-column">
                            <section aria-labelledby="resources-management">
                                <img src="../assets/sv3.png" alt="Folders">
                                <div>
                                    <h3>Resources management</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eveniet totam
                                        earum vitae
                                        aut modi distinctio, reprehenderit numquam quisquam nam!
                                    </p>
                                </div>
                            </section>
                            <section aria-labelledby="multiple-roles">
                                <img src="../assets/sv4.png" alt="Four squares">
                                <div>
                                    <h3>Multiple roles</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eveniet totam
                                        earum vitae
                                        aut modi distinctio, reprehenderit numquam quisquam nam!
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                </article>
                <article class="why-trackgenix">
                    <h2>Why Trackgenix?</h2>
                    <div class="container">
                        <section class="container" aria-labelledby="productivity-enhancement">
                            <img class="tablet-img" src="../assets/stock-productivity-enhancement.png"
                                alt="Magnificient graphs and scales">
                            <div class="container">
                                <h3>Productivity enhancement</h3>
                                <img class="desktop-img" src="../assets/stock-productivity-enhancement.png"
                                    alt="Magnificient graphs and scales">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eveniet totam earum
                                    vitae
                                    aut modi distinctio, reprehenderit numquam quisquam nam!
                                </p>
                                <button>more</button>
                            </div>
                            <button>more</button>
                        </section>
                        <section class="container" aria-labelledby="work-traceability">
                            <img class="tablet-img" src="../assets/assetsstock-work-traceability.png"
                                alt="Outstanding minimalistic concept art">
                            <div class="container">
                                <h3>Work traceability</h3>
                                <img class="desktop-img" src="../assets/stock-work-traceability.png"
                                    alt="Outstanding minimalistic concept art">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eveniet totam earum
                                    vitae
                                    aut modi distinctio, reprehenderit numquam quisquam nam!
                                </p>
                                <button>more</button>
                            </div>
                            <button>more</button>
                        </section>
                        <section class="container" aria-labelledby="leadership-teamwork">
                            <img class="tablet-img" src="../assets/stock-leadership-teamwork.png"
                                alt="Hip people relaxing on a curvy line">
                            <div class="container">
                                <h3 class="lead-team">Leadership teamwork</h3>
                                <img class="desktop-img" src="../assets/stock-leadership-teamwork.png"
                                    alt="Hip people relaxing on a curvy line">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eveniet totam earum
                                    vitae
                                    aut modi distinctio, reprehenderit numquam quisquam nam!
                                </p>
                                <button>more</button>
                            </div>
                            <button>more</button>
                        </section>
                        <section class="container" aria-labelledby="decision-making">
                            <img class="tablet-img" src="../assets/stock-decision-making.png"
                                alt="Two people in movement, one of which is highlighted">
                            <div class="container">
                                <h3>Decision making</h3>
                                <img class="desktop-img" src="../assets/stock-decision-making.png"
                                    alt="Two people in movement, one of which is highlighted">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eveniet totam earum
                                    vitae
                                    aut modi distinctio, reprehenderit numquam quisquam nam!
                                </p>
                                <button>more</button>
                            </div>
                            <button>more</button>
                        </section>
                    </div>
                </article>
                <form id="rsi-form" class="rsi-form">
                    <h2>Request system information</h2>
                    <div class="container">
                        <div class="container">
                            <fieldset>
                                <div class="container">
                                    <label for="rsi-name">Name</label>
                                    <input id="rsi-name" type="text">
                                </div>
                                <div class="container">
                                    <label for="rsi-email">Email</label>
                                    <input id="rsi-email" type="email">
                                </div>
                            </fieldset>
                            <fieldset class="contact-area">
                                <p>Contact area</p>
                                <div class="contact-a-radio">
                                    <div class="input-label-margin">
                                        <input id="rsi-hr" type="radio" name="contact">
                                        <label for="rsi-hr">Human resources</label>
                                    </div>
                                    <div class="input-label-margin">
                                        <input id="rsi-systems" type="radio" name="contact">
                                        <label for="rsi-systems">Systems</label>
                                    </div>
                                    <div class="input-label-margin">
                                        <input id="rsi-commercial" type="radio" name="contact">
                                        <label for="rsi-commercial">Commercial</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="container">
                            <fieldset class="container messagefield">
                                <div class="container">
                                    <label for="rsi-msg">Message</label>
                                    <textarea id="rsi-msg" class="textfield" form="rsi-form" rows="4"></textarea>
                                </div>
                            </fieldset>
                            <div class="rsi-buttons">
                                <button class="button-reset">Reset</button>
                                <button class="button-submit" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                <article class="our-story container">
                    <h2>Our story</h2>
                    <section aria-labelledby="our-story-hero">
                        <h3>An easy system</h3>
                        <div class="container">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    has been the
                                    industry's standard dummy text ever since the 1500s, whenan unknown printer took a
                                    galley
                                    of type and scrambled it to make a type specimen book.
                                </p>
                                <img src="../assets/stock-our-story.png" alt="A cheerful team">
                            </div>
                    </section>
                    <section aria-labelledby="our-story-cont">
                        <h3 class="our-goals-h3">Our goals</h3>
                        <div class="container our-goals">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                type
                                and scrambled it to make a type specimen book.
                            </p>
                            <img class="tablet-img" src="../assets/stock-our-story.png" alt="A cheerful team">
                        </div>
                    </section>
                </article>
                <section aria-labelledby="navigation" class="navigation-section">
                    <div>
                        <h2>Products</h2>
                        <ul>
                            <li>
                                <a href="">Fuctionalities</a>
                            </li>
                            <li>
                                <a href="">Downloads</a>
                            </li>
                            <li>
                                <a href="">Integrations</a>
                            </li>
                            <li>
                                <a href="">Extras</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2>Company</h2>
                        <ul>
                            <li>
                                <a href="">About us</a>
                            </li>
                            <li>
                                <a href="">Clients</a>
                            </li>
                            <li>
                                <a href="">Resources</a>
                            </li>
                            <li>
                                <a href="">Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2>Support</h2>
                        <ul>
                            <li>
                                <a href="">Help</a>
                            </li>
                            <li>
                                <a href="">Tutorials</a>
                            </li>
                            <li>
                                <a href="">API</a>
                            </li>
                            <li>
                                <a href="">Contact</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <footer>
        <div class="container">
            <ul class="container">
                <li>
                    <a href="" target="_blank">
                        <img src="../assets/logo-facebook-primary.png" alt="Facebook Logo">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img src="../assets/logo-instagram-primary.png" alt="Instagram Logo">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img src="../assets/logo-linkedin-primary.png" alt="Linkedin Logo">
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <img src="../assets/logo-twitter-primary.png" alt="Twitter Logo">
                    </a>
                </li>
            </ul>
            <address>
                Rosario, Argentina
            </address>
            <p>Copyright &copy; Radium Rocket. All rigths reverved.</p>
        </div>
    </footer>
    </div>
</body>

</html>