@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
}
img {
width: 50px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
body {
    position:relative;
    color: #373867;
    font-family: Roboto;
}


/*-----------------NAV. BAR-------------------*/
.topbar {
    display:inline;
    position: fixed;
    width: 100vw;
    height: 11.8%;
    background-color: #373867;
}

.topbar-nav {
    padding-right: 2%;
    padding-top: 1.5%;
}

.topbar-nav>li {
    display: inline;
    float: right;
    margin: 7.29px;
    list-style: none;
    
}

.topbar-nav li img {
    top: 0%;
    border-radius: 50%;
    display: inline-block;
    width: 51px;
}

.topbar>a>.logo {
    display: inline;
    width: 420px;
    float: left;
    margin: 0.27% 32,5% 0.12% 2%;
    position:sticky;
    
    
}
/*-----------------NAV. BAR-------------------*/

/*-----------------SIDE. BAR-------------------*/
.sidebar {
    position: fixed;
    width: 16.7%;
    height: 51.8%;
    background-color: #DFE4DE;
    border-radius: 0px 0px 15px 15px;    
    margin: 6% 41.1% 23.5% 0.7%;
    padding: 0.2%;
}
.sidebar li {
    display: block;
    margin: 18px;
}

.sidebar>* {
    padding: 1%;
    margin: 1%;
}

/*-----------------SIDE. BAR-------------------*/

/*-----------------MAIN-------------------*/
main {
    margin-left: 18.7%;
    padding-top: 7%;
}
/*-----------------MAIN-------------------*/