header {
    position: sticky;
    top: 0;
    background-color: #373867;
    border-radius: 0 0 15px 15px;
    max-height: auto;
}

header .container {
    flex-direction: column;
    align-items: center;

}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container a > img {
    width: auto;
    max-width: 75%;
}

header ul {
    display: none;
}

header .container button {
    max-width: 2rem;
    max-height: 2rem;
    padding: 0;
    background-color: #373867;
    color: #AACF9B;
    font-size: 3rem;
    border: none;
}