* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
}

p {
    font-weight: 100;
    text-align: start;
    font-size: 12px;
}


h1 {
    font-size: 30px;
    margin: 20px;
    line-height: 2rem;
}
h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2rem;
}
h3 {
    font-size: 15px;
    line-height: 2rem;
}

a {
    font-family: "Roboto";
    text-decoration: none;
    color: #373867;
}

label {
    font-size: 14px;
    font-weight:500;
}