body {
    margin: 0;
    font-family: "Roboto", sans-serif, Arial;
    font-weight: 400;
    color: #373867;
    line-height: 20px;
}
* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
}

p {
    font-weight: 100;
    text-align: start;
    font-size: 12px;
}


h1 {
    font-size: 30px;
    margin: 20px;
    line-height: 2rem;
}
h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2rem;
}
h3 {
    font-size: 15px;
    line-height: 2rem;
}

a {
    font-family: "Roboto";
    text-decoration: none;
    color: #373867;
}

label {
    font-size: 14px;
    font-weight:500;
}

@media (min-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 768px;
        margin: 0 auto;
    }
}
@media (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: none;
        margin: 0 auto;
    }
.container-main-aside {
        display: flex;
    }
}